<!-- views/partials/header.ejs -->
<header class="blog-header">
    <div class="container">
      <div class="logo">
        <a href="/">Simple Blog</a>
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/posts/new">Create Post</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div class="search-bar">
        <input type="text" placeholder="Search...">
      </div>
    </div>
  </header>
  